/* --- Reset --- */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    color: #4c4d5f;
    position: relative;
    background-color: #FFFFFF;


}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}
/* --- Reset --- */

/* --- Variables --- */
:root {
    --bg-img-layer: -10;
    --nav-layer: 10;
    
}


#rectangle {
box-sizing: border-box;

position: absolute;
width: 1000px;
height: 900px;
/* left: 435.87px;
top: -356.03px; */
left:900px;
top:-300px;


background: #E9FFFF;
mix-blend-mode: darken;
border: 1px solid #FFFFFF;
transform: rotate(-25deg);
}

.navbar{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;   
    padding: 10px 50px;
    font-family:"Poppins";
    align-items:center;
    
}

#navbarlogo {
    font-size: 20px;
    color:#00b289;
}

.navbarblocks {
    display:flex;
    flex-wrap:wrap;
    font-size: 14px;
    padding: 0px 0px 0px 100px; 
    
}

.navbarblocks div {
    padding:0px 10px;
}


.navbarright {
    display:flex;
    flex-wrap:wrap;
    font-weight: bold;    
    font-size:12px;
}

.navbarright div{ 
    border-radius: 3px;
    padding: 5px 25px;
}

#navbarright-first{
    border: 1px solid #00b289;   
    background-color: #FFFFFF;
    color:#00b289;
}

#navbarright-second{
    background-color: #00b289;
    color:#FFFFFF;
    margin: 0 0 0 10px;

}

.headline {
    Display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin-top: 80px;
    margin-bottom: 40px;

}

#h2{
    font-size: 40px;
}

.offer{
    
    display:flex;
    font-size: 14px;
    font-family: "Poppins";
    flex-direction: column;
}


.h3{
    display:flex;
    flex-wrap:wrap;
}

span {
    padding-top: 15px;
    content: "\2938";
    font-size: 30px;
    color: #00b289;
}


.term {
    display:flex;
    justify-content:space-between;
    color:black;        
}


.term div {
    padding:0px 10px;
    margin-bottom:20px;
}

#action{
    display:flex;
    color:#00b289;
    justify-content: flex-end;
    font-size: 12px;
    margin-bottom: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#00b289;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
} 
  
input:checked + .slider {
    background-color: #00b289;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}
  
.slider.round {
    border-radius: 18px;
}
  
.slider.round:before {
    border-radius: 50%;
}


.main {
    display:flex;
    justify-content:center;
    flex-direction:column;

}
.content {
    Display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 15px;
    /* width:100%; */
    background-color: #FFFFFF;
    font-family: "Poppins";
    flex-basis: 100%;
   
    
}

.content div {
    position:relative;
    display: flex;
    /* flex:0.5; */
    flex-wrap: wrap;
    box-shadow: 1px 1px 15px #4c4d5f;
    background-color: #FFFFFF;
    /* margin-left: 25px;
    margin-right: 25px;
     */
    padding: 35px;
    /* border-radius: 2px;
    max-width: 350px;
    min-width: 290px;
    max-height: 750px;
    min-height: 400px; */
    flex-direction:column;
    
    
}

.action-price{
    display:flex;
    border-bottom: 2px solid #00b289;
    padding-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
}

p{
    font-size: 18px;
    margin-bottom:20px;
}

.action-price :first-child {
    align-self:flex-start;
    font-size: 20px;
    padding:5px;
}

.action-price :nth-child(2){
    font-size:40px;
    max-height:45px;
    padding-right:5px;

}

.action-price :nth-child(3){
    font: size 20px;
    max-height: 20px;
    padding-right: 5px;
    align-self: flex-end;
    
}
 /*    
#trapezoid {
    border-bottom: 100px solid red;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 100px;
} */
/* 
.trapezoid {
    width: 70px;
    height: 20px;
    background: red;
    transform: perspective(10px) rotateX(1deg);
    margin: 0px;
  } */
    
#trapez{
   /*  position:absolute;
    transform:rotate(45deg);
    right: 10%;
    top:5%; */
    background-color: #00b289;
    color:#FFFFFF;
    /* clip-path: polygon(20% 0%, 80% 0%, 40% 10%, 10% 10%);
    font-size: 12px; */
    /* padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px; */
  /*   transform:skew(30deg,30deg); */
    /* box-sizing:initial; */
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}
/* 
.trapezoid {
    width: 200px;
    height: 100px;
    background: red;
    transform: perspective(10px) rotateX(1deg);
    margin: 10px;
  }
 */
#trap{
    position:absolute;
    background:none;
    margin:none;
    border:none;
    padding:none;
    box-shadow: none;
    color:none;

}

 #trapezoid {
    background-color: #00b289;
    color:#FFFFFF;
    transform:rotate(50deg);
   /*  https://codepen.io/stoumann/full/abZxoOM */
    /* clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); */
   /*  clip-path: polygon(0% 0%, 100% 0%, 70% 50%, 10% 50%); */
   /* clip-path: polygon(13% 75%,84% 75%,100% 100%,0% 100%); */
   /* clip-path: polygon(10% 0%,90% 0%,100% 12%,0% 12%); */
    /* clip-path: polygon(16% 0%,82% 0%,100% 12%,0% 12%); */
   /*  clip-path: polygon(19% 4%,68% 4%,83% 13%,12% 13%); */
   /*  clip-path: polygon(16% 3%,69% 4%,83% 13%,9% 12%); */
    clip-path: polygon(19% 3%,67% 4%,83% 13%,9% 12%);
    border:2px solid #00b289;
    padding-left: 60px;
    padding-top:15px;
    top:6.5%;
    right:15.1%;
    position:absolute;
   
 
}




.lines{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

p3{
    font-size:12px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}


#Wbutton {
    
    color: #ffff;
    font-family: 'Poppins';
    background-color: #00b289;
    border: 1px solid  #00b289;
    border-radius: 2px;
    padding: 3px 35px;
    text-align: center;
    margin-top: 30px;
    
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    
}

#Wbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#special-yellow{
    background-color: gold;
    color:#FFFFFF;
}


#subhead {
    font-size:24px;
    text-align:center;
    margin-top:30px;
    margin-bottom:10px;
    
}


#Qhead {
    font-size:24px;
    text-align:center;
    font-family:'Arial Narrow';
    font-weight: 100 lighter;
    color:#00b289;
    margin-top:20px;
    margin-bottom: 20px;
}


.Qlist {
    flex-basis: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
}

.Qlistline {
    width:70%;
    display:flex;
    padding: 10px;
    justify-content:space-between;
    /* important */
}


#ForAbout{
    color:#00b289;
    font-size:12px;
}

#Comment{
    font-size:12px;
}

#Title{
    font-size: 16px;
}


.works {
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    
}

.Submain{
    display:flex;
    flex-basis:100%;
    flex-direction: column;
     justify-content: center;
 }
 

.OtherOptions{ 
    width:70%;
    justify-content:center;
    font-family: 'Poppins';
    margin-top:20px;
    margin-bottom: 20px;
    margin-left:25px;
    margin-right: 25px;
    max-width: 720px;
   
    align-self:center;
    min-width: 50%;
    max-width: 840px;
    
}

.OptionPrice :first-child {
    align-self:center;
    font-size: 26px;
    padding:5px;
}

.OptionPrice :nth-child(2){
    font-size:12px;
    padding-right:5px;

}

.OptionPrice{
    display:flex;
    flex-direction:column;
}



.Theme {
    display:flex;
    flex-direction:column;
}


.Projects {
    display:flex;
    justify-content:space-between;
    box-shadow: 1px 1px 15px #4c4d5f;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    gap:15px;
     
}


.Specfont {
    display:flex;
    flex-wrap: wrap;
}

.Specfont :nth-child(2){
    color:#00b289;
    padding-right:4px;
    padding-left:4px;
}

.Begin{
    display:flex;
    width:70%;
    flex-wrap:wrap;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:50px;
    padding-bottom:50px;
    background-color: rgb(226, 247, 247);
    margin-left: 25px;
    margin-right: 25px;
    align-content: center;
    align-self:center;

    min-width: 50%;
    max-width: 840px;
   

}


.Bstrings{
    display:flex;
    flex-wrap:nowrap;
    flex-direction:column;
    font-size: 26px;
    font-family: 'Georgia';
    justify-content:center;
    gap: 0px;
    
}

.Bbutton {
    display:flex;
    position:relative;
    background-color: #00b289;
    color:#FFFFFF;
    font-family:sans-serif;
    font-weight: bolder;
    margin-top: 0px;
    padding: 18px 40px;
    font-size: 16px;
    justify-content:center;
    align-content: center;
    border-radius:4px;
    border:0px;
    
    
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;

}

.Bbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
 

.footer{
        display: flex;
        margin-top:50px;
        margin-bottom: 50px;
        justify-content: space-evenly;
        
}

.Mainfoot{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    font-family: 'Arial Narrow';
    margin-left:25px;
         
}

#Ftitle{
    font-weight: 800;
}


.Prod{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    margin-top:30px;    
    margin-bottom: 10px;
    gap:10px;

}

#Pricing{
    color:#00b289;
    Padding-top: 20px;
}


#Temp{
    padding-top:20px;
    padding-bottom:20px;
    font-weight: 800;
}

#Emp{
    padding-top: 30px;
}

#Comp{
    padding-top:30px;
}

#Affi{
    padding-top:30px;
}
/* --- Variables --- */